*{
  padding: 0;
  margin: 0;
}

.subparent{
  background-color: rgb(96, 130, 243);
  width: 355px;
  margin: 2%;
  padding: 3%;
}
.child{
  width: 330px;
  background-color: white;
  margin-left: 10px;
  border-radius: 10px;
  border: 1px solid white;
  height: 450px;
}
.tag1{
  text-align: center;
  margin-top: 15px;
  opacity: 0.5;
}
.tag2{
  text-align: center;
  margin-top: 13px;
  margin-bottom: 8px;
  opacity: 0.8;
}
.con{
  padding: 7% 7% 4% 7%;
}
.ptag-con{
  margin-top: 13px;
}
.ptag-con1{
  margin-top: 13px;
  opacity: 0.5;
}
.btn{
  color: white;
  background-color: rgb(117, 148, 250);
  padding: 12px 120px;
  border-radius: 20px;
  border: none;
  margin-left: 13px;
  font-size: 12px;
}
.border{
  display: flex;
  text-wrap: wrap;
  margin-left: 9%;
  margin-top: 2%;
}
.btn_pro{
  color: white;
  background-color: rgb(69, 98, 196);
  padding: 12px 120px;
  border-radius: 20px;
  border: none;
  margin-left: 13px;
  font-size: 12px;
}